:root {
    --delay: 500ms;
    --duration: 800ms;
    --iterations: 1;
    --font: "Trebuchet MS";
}
body {
    background-color: rgb(59, 94, 156);
    height: 100%;
}


.title {
    text-align: center;
    font-family: var(--font);
    margin-top: 50px;
    font-size: 250%;
    color: rgb(162, 176, 219);
    animation: fadeIn linear 1s;
    margin-bottom: 100px;
}
#link-project {
    text-decoration: none;
}
#link-project-div {
    background-color: rgb(199, 202, 214);
    color: black;
    padding: 5px;
}
@keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

.projectsContainer {
    color: rgb(162, 176, 219);
}
.project {
    text-align: center;
    position: relative;
    font-family: var(--font);
    margin-top: 20px;
    margin-bottom: 100px;
}
.project-title {
    font-size: 130%;
    margin-bottom: 10px;
    font-weight: bold;
}
.project-link {
    color: rgb(162, 176, 219);
    text-underline: rgb(162, 176, 219);
    transition: 0.2s;
}
.project-link:hover {
    color: black;
}
.project-content {
    position: relative;
    height: 100%;
    /*vertical-align: center;*/
    display: flex;
    align-items: center;
    /*align-content: center;*/
    /*horiz-align: center;*/
    text-align: center;
    justify-content: center;
}
.project-text-container {
}
.project-text {
    position: relative;
    /*float: left;*/
    /*display: flex;*/
    /*margin-top: 5px;*/
    margin-bottom: 5px;
    margin-left: 50px;
    margin-right: 50px;
    /*top: 0;*/
    width: 20vw;
    height: 100%;
    text-align: justify;
    /*overflow-wrap: break-word;*/
    font-size: 110%;
    vertical-align: center;
}
#ccc-problems {
    position: relative;
    width: 40vw;
    font-family: var(--font);
    font-size: 110%;
    text-align: justify;
    margin: 0 auto;

}

.linksDiv {
    padding: 5px;
    transition: 0.3s;
}
.linksDiv:hover {
    background-color: rgb(199, 202, 214);
    color: black;
}
.links {
    text-decoration: none;
    color: rgb(162, 176, 219);
    transition: 0.3s;
}

.openSideBarRects {
    background-color: rgb(13, 29, 148);
}
#little-triangle-on-button {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 1;
    bottom: 40px;
    border-top: 8px solid transparent;
    border-left: 12px solid rgb(3, 57, 252);
    border-bottom: 8px solid transparent;
}
#triangle-right-top {
    position: absolute;
    left: 0;
    bottom: 82px;
    border-top: 18px solid transparent;
    border-left: 18px solid rgb(13, 29, 148);
    border-bottom: 18px solid transparent;
}
#triangle-right-down {
    position: absolute;
    left: 0;
    top: 82px;
    border-top: 18px solid transparent;
    border-left: 18px solid rgb(13, 29, 148);
    border-bottom: 18px solid transparent;
}
#rectangle-main {
    position: relative;
    left: 5px;
    width: 18px;
    height: 100px;
    outline: none;
    cursor: pointer;
    border: none;
}
#rectangle-bar-1 {
    position: relative;
    bottom: 100%;
    width: 5px;
    height: 100%;
}
#rectangle-bar-2 {
    position: relative;
    bottom: 100%;
    width: 5px;
    height: 100%;
}
#open-sidebar-button {
    position: fixed;
    left: 0;
    top: calc(50% - 50px);
    height: 100%;
    transition: left 0.2s;
    z-index: 2;
}
#sideBar {
    position: absolute;
    overflow: hidden;
    top: calc(-50% + 50px);
    left: -200px;
    background-color: rgb(60, 61, 66);
    height: 100%;
    width: 200px;
    font-family: var(--font);
    font-size: 150%;
}

.gallery-container {
    position: relative;
    width: 30vw;
    height: 16.7vw;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    background-color: black;
    vertical-align: center;
    border: solid black 2px;
}
.gallery-container-display {
    position: relative;
}
.gallery-slide-1, .gallery-slide-2 {
    display: none;
    vertical-align: middle;
}
.gallery-prev, .gallery-next {
    cursor: pointer;
    position: absolute;
    top: calc(50% - 20px);
    width: auto;
    padding: 16px;
    /*margin-top: -50px;*/
    color: white;
    font-weight: bold;
    font-size: 20px;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
.gallery-next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.gallery-prev {
    left: 0;
}
.gallery-prev:hover,
.gallery-next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}
.bottom-row {
    display: flex;
    /*position: absolute;*/
    /*top: 100%;*/
    top: 50%;
    border: solid black 2px;
    z-index: 10;
}
.little-circle {
    height: 10px;
    width: 10px;
    color: white;
    background-color: white;
    border-radius: 50%;
    margin: 5px;
    z-index: 10;
}