:root {
    --delay: 500ms;
    --duration: 800ms;
    --iterations: 1;
    --font: "Trebuchet MS";
}
body {
    background-color: rgb(59, 94, 156);
    height: 100%;
}

.openSideBarRects {
    background-color: rgb(13, 29, 148);
}
#little-triangle-on-button {
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    z-index: 1;
    bottom: 40px;
    border-top: 8px solid transparent;
    border-left: 12px solid rgb(3, 57, 252);
    border-bottom: 8px solid transparent;
}
#triangle-right-top {
    position: absolute;
    left: 0;
    bottom: 82px;
    border-top: 18px solid transparent;
    border-left: 18px solid rgb(13, 29, 148);
    border-bottom: 18px solid transparent;
}
#triangle-right-down {
    position: absolute;
    left: 0;
    top: 82px;
    border-top: 18px solid transparent;
    border-left: 18px solid rgb(13, 29, 148);
    border-bottom: 18px solid transparent;
}
#rectangle-main {
    position: relative;
    left: 5px;
    width: 18px;
    height: 100px;
    outline: none;
    cursor: pointer;
    border: none;
}
#rectangle-bar-1 {
    position: relative;
    bottom: 100%;
    width: 5px;
    height: 100%;
}
#rectangle-bar-2 {
    position: relative;
    bottom: 100%;
    width: 5px;
    height: 100%;
}
#open-sidebar-button {
    position: fixed;
    left: 0;
    top: calc(50% - 50px);
    height: 100%;
    transition: left 0.2s;
    z-index: 2;
}
#sideBar {
    position: absolute;
    overflow: hidden;
    top: calc(-50% + 50px);
    left: -200px;
    background-color: rgb(60, 61, 66);
    height: 100%;
    width: 200px;
    font-family: var(--font);
    font-size: 150%;
}

#mainMessage {
    position: absolute;
    width: 99%;
    text-align: center;
    top: 25%;
    display: block;
}
#mainTitle {
    font-size: 300%;
    margin-bottom: 80px;
}
.mainInfo {
    font-size: 150%;
}

.linksDiv {
    padding: 5px;
    transition: 0.3s;
}
.linksDiv:hover {
    background-color: rgb(199, 202, 214);
    color: black;
}
.links {
    text-decoration: none;
    color: rgb(162, 176, 219);
    transition: 0.3s;
}

.reveal-text,
.reveal-text::after {
    animation-delay: var(--animation-delay, 2s);
    animation-iteration-count: var(--iterations, 1);
    animation-duration: var(--duration, 800ms);
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}
.reveal-text {
    width: 100%;
    --animation-delay: var(--delay, 0);
    --animation-duration: var(--duration, 800ms);
    --animation-iterations: var(--iterations, 1);
    position: relative;
    font-family: var(--font);
    animation-name: clip-text;
    color: rgb(162, 176, 219);
    white-space: nowrap;
    cursor: default;
}
.reveal-text::after {
    content: "";
    position: absolute;
    z-index: 999;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 255, 0);
    transform: scaleX(0);
    transform-origin: 0 50%;
    pointer-events: none;
    animation-name: text-revealer;
}
@keyframes clip-text {
    from {
        clip-path: inset(0 100% 0 0);
    }
    to {
        clip-path: inset(0 0 0 0);
    }
}
@keyframes text-revealer {

    0%, 50% {
        transform-origin: 0 50%;
    }

    60%, 100% {
        transform-origin: 100% 50%;
    }

    60% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(0);
    }
}
